.image{
  position: relative;
  height: 100vh;
}
.maindiv{
  margin-left: 300px;
 width: 80%;
 position: absolute;
 top: 0;
 @media (max-width:840px) {
  margin-left: 0;
  width: 100%;
  position: relative;
 }
}
h3 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 1.3rem;
  text-align: center;
  color: black;
}

.text-box {
  text-align: center;
  padding: 1rem 1rem;
  text-align: justify;
  background-color: white;
}
.sidebar{
  border: 0px solid black;
  width: 19%;
  text-align: center;
  font-weight: bold;
  font-family: serif;
  margin-top: 50px;
}

.sideimg{
  height: 100px;
  width: 100px;
}
.spanside{
  padding-top: 110px;
}
.linkstyle{
  text-decoration: none;
  color: black;
}
.olmenu{
  display: inline-block;
  margin-top: 50px;
  @media (max-width:840px) {
    display: inline-flex;
    margin-left: 50px;
  }
}
.menubutton{
  font-family: serif;
  font-weight: bold;
}